body > .container {
  padding-top: 80px;
  font-family: 'Helvetica';
	font-size: 20px;
  color: black;
}

.navbar-default {
  background-color: navy;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: white;
}

.panel-default>.panel-heading {
  background-color: lightskyblue;
}

#signinButton {
  padding-top: 20px;
}
