                            <b>Item:</b> {{item.title}}<br>

                            <input type="hidden" id="CheckOwnerId" value="{{item.owner}}">
                            <input type="hidden" id="CheckUserId" value="{{user}}">
                              
                            <label for="">Description: </label> {{item.description}} <br>
                             ---> Owner:{{item.owner}} User:{{user}}<br><br>
                            <form action="{{ url_for('deleteItem', item_title=item.title, item_owner=item.owner) }}" method='get' onsubmit="return CheckOwner()">
                              <a class="btn" href="{{ url_for('editItem', item_title=item.title) }}"> value="Edit" onclick="return CheckOwner()"</a>
                              <input class="btn" type="submit" value='Delete'>
                            </form>
                            <form action="{{ url_for('deleteItem', item_title=item.title, item_owner=item.owner) }}" method='get' onsubmit="return CheckOwner()">
                              <a class="btn" href="{{ url_for('editItem', item_title=item.title) }}"> value="Edit" onclick="return CheckOwner()"</a>
                              <input class="btn" type="submit" value='Edit'>
                            </form>


@app.route('/catalog/arbitrary/JSON')
def getCatalog():
    """ new code for JSON returning an arbitrary item """
    """ find number of records in the database """
    """ get a random number between 0 and n """
    """ retrieve one record based on the random number """
    """ return jsonify the record """
    """ Returns JSON version of the catalog """
    output_json = []
    categories = session.query(Category).all()
    random1 = random.randint(0,categories)
    for category in categories:

            output_json.append(category_output)
    return jsonify(Categories=output_json)


@app.route('/catalog/JSON')
def getCatalog():
    """ Returns JSON version of the catalog """
    output_json = []
    categories = session.query(Category).all()
    for category in categories:
        items = session.query(CategoryItem).filter_by(category_id=category.id)
        category_output = {}
        category_output["id"] = category.id
        category_output["name"] = category.name
        category_output["items"] = [i.serialize for i in items]
        output_json.append(category_output)
    return jsonify(Categories=output_json)